@import url('https://fonts.googleapis.com/css2?family=Big+Shoulders+Display:wght@400;600;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@300&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Outfit', sans-serif;
}

body {
    height: 100vh;
    max-width: 1440px;
    margin: 0 auto;
}

.hero__container {
    background: linear-gradient(to right, black 50%, white 50%);
    height: 100vh;
}

.hero__section {
    background-image: url(images/desktop/image-hero@2x.jpg);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    height: 100vh;
    display: flex;
    justify-content: space-between;
    padding: 11.5%;
}

h1 {
    font-family: 'Big Shoulders Display', sans-serif;
    font-size: 6rem;
    text-transform: uppercase;
    line-height: .9;
    mix-blend-mode: difference;
    color: white;
    margin-top: 1.5rem;
}

.hero__content {
    width: 22rem;
    margin-top: 1.5rem;
}

.hero__content p {
    font-family: 'Outfit', sans-serif;
    font-size: 1.375rem;
    line-height: 1.5;
}

.location__link {
    margin-top: 3rem;
    position: relative;
}

.location__link:hover .text {
    background-color: hsl(25, 56%, 62%);
    transition: .3s;
}

.location__link:hover img {
    background-color: black;
    transition: .3s;
}

.location__link .text{
    position: absolute;
    padding: 1.5rem 2.15rem;
    color: white;
    background-color: black;
    text-transform: uppercase;
    font-size: 1.25rem;
    font-family: 'Big Shoulders Display', sans-serif;
    font-weight: 600;
    text-align: center;
    cursor: pointer;
    text-decoration: none;
    letter-spacing: .187rem;
}

.right__arrow {
    background: hsl(25, 56%, 62%);
    padding: 1.5rem;
    cursor: pointer;
    position: absolute;
    right: 108px;
}

.section__container {
    padding: 11.5%;
    display: grid;
    grid-template-columns: 1fr .5fr .5fr .5fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    grid-template-areas: 
    "one one . two two two"
    "three three three three four four"
    "three three three three five five";
    gap: 1.875rem;
    align-items: stretch;
}

.box img {
    height: 100%;
    width: 100%;
    object-fit: cover;
}

.item__1 {
    margin-top: 2rem;
    grid-area: one;
}

.item__1 h2 {
    font-family: 'Big Shoulders Display', sans-serif;
    text-transform: uppercase;
    font-weight: 900;
    font-size: 3.75rem;
    line-height: .9;
}

.item__1 p {
    font-size: 1.375rem;
    line-height: 1.5;
    margin-top: 2rem;
}

.item__2 {
    grid-area: two;
}

.item__3 {
    grid-area: three;
}

.item__4 {
    grid-area: four;
}

.item__5 {
    background: black;
    padding: 4rem 3rem;
    grid-area: five;
    height: 100%;
    width: 100%;
}

.item__5 h2 {
    font-family: 'Big Shoulders Display', sans-serif;
    color: white;
    font-weight: 900;
    font-size: 3.75rem;
    line-height: .9;
    text-transform: uppercase;
}

.item__5 p {
    color: white;
    margin-top: 2rem;
    line-height: 1.5;
    font-size: 1.375rem;
}

footer {
    background-color: black;
}

.footer__container {
    color: white;
    display: flex;
    justify-content: space-between;
    padding: 5rem 11.5%;
}

.footer__container h2 {
    font-family: 'Big Shoulders Display', sans-serif;
    font-size: 2rem;
}

.footer__container p {
    width: 26.8rem;
    font-size: 1.125rem;
    line-height: 2;
}

.socials a {
    padding: 0 .5rem;
    cursor: pointer;
}

.icons:hover {
    fill: hsl(25, 56%, 62%);
    transition: .3s;
}

/* location page */

.map {
    height: 75vh;
    position: relative;
}

.back__home {
    position: absolute;
    margin-left: 11.5%;
}

.left__arrow {
    position: absolute;
    background-color: hsl(25, 56%, 62%);
    padding: 1.5rem;

}

.back__home:hover .text {
    background-color: hsl(25, 56%, 62%);
    transition: .3s;
}

.back__home:hover img {
    background-color: black;
    transition: .3s;
}

.back__home .text {
    position: absolute;
    background-color: black;
    text-decoration: none;
    width: 12.5rem;
    color: white;
    text-transform: uppercase;
    font-family: 'Big Shoulders Display', sans-serif;
    font-size: 1.25rem;
    padding: 1.5rem;
    text-align: center;
    left: 58px;
    letter-spacing: .187rem;
}

.map__location {
    height: 100%;
    width: 100%;
    object-fit: cover;
}

.address {
    background: black;
    display: flex;
    justify-content: space-between;
    color: white;
    padding: 11.5%;
}

.address h1 {
    font-size: 4.375rem; 
    margin-top: 0;
    width: 50%;
    line-height: 1;
}

.address .text {
    width: 50%;
}

.address p {
    font-size: 1.375rem;
    line-height: 1.7;
    margin-bottom: 2rem;
}

.address h2 {
    color: hsl(25, 56%, 62%);
    font-family: 'Big Shoulders Display', sans-serif;
    font-size: 2.25rem;
    margin-bottom: 2rem;
    text-transform: uppercase;
}

.location__footer {
    background-color: hsl(25, 56%, 62%);
    color: black;
}

.location__footer .socials .icons {
    fill: black;
}

.location__footer .socials .icons:hover {
    fill: white;
    transition: .3s;
}

.location__footer h2 {
    text-transform: uppercase;
    line-height: .9;
    font-weight: 900;
}
