@import url('https://fonts.googleapis.com/css2?family=Big+Shoulders+Display:wght@400;600;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@300&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Outfit', sans-serif;
}

body {
    height: 100vh;
    max-width: 1440px;
    min-width: 375px;
    margin: 0 auto;
}

.hero {
  /*  background: linear-gradient(to right, black 50%, white 50%);*/
    position: relative;
}

.hero .image {
    width: 100%;
}

.hero .container {
    padding: 0 4.5%;
}

.container h1 {
    font-family: 'Big Shoulders Display', sans-serif;
    font-size: 3.75rem;
    line-height: .9;
    text-transform: uppercase;
    margin-top: 2rem;
}

.hero .content {
    margin-top: 2rem;
}

.hero .content p {
    font-size: 1.125rem;
    line-height: 1.7;
}

.links {
    display: flex;
    margin-top: 2rem;
    width: 16.25rem;
}

.hero .links a {
    text-decoration: none;
    color: white;

}

.links .text {
    font-family: 'Big Shoulders Display', sans-serif;
    width: 12.75rem;
    height: 4.5rem;
    background-color: black;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.25rem;
    text-transform: uppercase;
    font-weight: 900;
    letter-spacing: .2rem;
}

.arrow {
    padding: 1.5rem;
    background-color: hsl(25, 56%, 62%);
}

.hero .links:hover .text {
    background-color: hsl(25, 56%, 62%);
    transition: .3s;
}

.hero .links:hover img {
    background-color: black;
    transition: .3s;
}

.grid .container {
    margin-top: 7.5rem;
    padding: 0 4.5%;
    display: grid;
    grid-template-columns: 1fr;
    gap: 1.5625rem;
}

.box img, .box {
    width: 100%;
    height: 100%;
}

.box__2 h2, .box__5 h2 {
    font-family: 'Big Shoulders Display', sans-serif;
    font-weight: 900;
    font-size: 3.125rem;
    text-transform: uppercase;
    line-height: .9;
}

.box__2 p, .box__5 p {
    margin-top: 1.5rem;
    font-size: 1.125rem;
    line-height: 1.7;
}

.box__5 {
    color: white;
    background-color: black;
    padding: 13.5% 7%;
}

footer {
    margin-top: 7.5rem;
    background-color: black;
    color: white;
    padding: 12.8% 8.5%;
}

footer h2 {
    font-family: 'Big Shoulders Display', sans-serif;
    line-height: .9;
    text-transform: uppercase;
}

footer p {
    line-height: 1.7;
    margin-top: 2.375rem;
}

footer .socials {
    margin-top: 2.375rem;
}

.index .icons:hover {
    fill: hsl(25, 56%, 62%);
    transition: .3s;
}

.socials .instagram {
    margin: 0 1.25rem;
}

/* location css */

.map {
    position: relative;
}

picture img{
    display: block;
    width: 100%;
}

.map .links a {
    text-decoration: none;
    color: white;
}

.map .links {
    position: absolute;
    top: 0;
    margin: 0;
}

.map .links:hover .text {
    background-color: hsl(25, 56%, 62%);
    transition: .3s;
}

.map .links:hover img {
    background-color: black;
    transition: .3s;
}

.address {
    background-color: black;
    padding: 13% 4.5% 15% 4.5%; 
}

.address h1 {
    font-family: 'Big Shoulders Display', sans-serif;
    color: white;
    font-size: 3.125rem;
    text-transform: uppercase;
}

.address h2 {
    font-family: 'Big Shoulders Display', sans-serif;
    color: hsl(25, 56%, 62%);
    text-transform: uppercase;
    font-size: 2rem;
}

.address p {
    color: white;
    font-size: 1.125rem;
    line-height: 1.7;
    margin-top: 1.25rem;
}

.location {
    margin-top: 0;
    background-color: hsl(25, 56%, 62%);
    color: black;
}

.location .icons:hover {
    fill: hsl(0, 0%, 100%);
    transition: .3s;
}

@media only screen and (min-width: 426px) {
    
    /*index*/ 
    @media only screen and (min-width: 426px) and (max-width: 599px) {
        .hero picture .image {
            object-fit: cover;
            height: 30rem;
            position: bottom;
        }
    }
    

    @media only screen and (min-width: 600px) {
        .hero {
            display: flex;
        }

        .hero picture img {
            min-height: 100vh;
            min-width: 100%;
        }

        .hero .container {
            padding: 20% 5% 20% 0;
            width: 100%;
            margin-left: -5%;
        }

        .hero h1 {
            font-size: 4.375;
            margin-top: 0;
        }

        .hero .content p {
            margin: 15% 0;
        }
    
   
        .grid .container {
            grid-template-columns: 1fr .25fr .40fr .25fr 1fr;
            grid-template-rows: 1fr 1fr 1fr;
            grid-template-areas: 
            "one . two two two"
            "three three three four four"
            "three three three five five";
            gap: .68rem;
        }

        .box__2 h2 {
            margin-top: 2rem;
        }

        .box__1 {
            grid-area: two;
        }

        .box__2 {
            grid-area: one;
        }

        .box__3 {
            grid-area: three
        }

        .box__4 {
            grid-area: four;
        }

        .box__5 {
            grid-area: five;
            padding: 31% 10%;
        }   
    }
    /*location*/


    .map .links {
        margin-left: 5%;
    }
        
    .address {
        display: flex;
        padding: 11.5% 5%;
    }
    
    .address .text {
     margin-left: 15%;
    }

    footer {
        display: flex;
        justify-content: space-between;
        padding: 7.5% 5%;
    }

    footer p, footer .socials {
        margin-top: 0;
    }

    footer .socials {
        display: flex;
        justify-content: flex-end;
        width: 40%;
    }

    footer p {
        width: 50%;
    }

    footer h2 {
        width: 40%;
    }
}

@media only screen and (min-width: 769px) {
    
    .hero picture .image {
        width: 500px;
    }

    .grid .container {
        padding: 0 5%;
        gap: 2rem;
    }
    
    .box__2 h2 {
        margin-top: 20%;
        font-size: 3.75rem;
    }

    .box__2 h2 br {
        display: none;
    }

    .box__2 p {
        font-size: 1.375rem;
        margin-top: 2rem;
    }

    .box__5 {
        padding: 14% 10%;
    }

    .box__5 h2 {
        font-size: 3.75rem;
    }

    .box__5 p {
        font-size: 1.375rem;
    }


    /* location */
    .map .links {
        margin-left: 11%;
    }

    .address {
        padding: 11.5% 11%;
    }

    .address h1 {
        font-size: 4.375rem;
    }

    .address .text {
        margin-left: 30%;
       
    }

    .address h2 {
        font-size: 2.25rem;
    }

    .address p {
        font-size: 1.375rem;
    }

    footer {
        padding: 8% 5%;
    }

    footer p {
        font-size: 1.125rem;
    }

    footer h2 {
        font-size: 2rem;
    }
}

@media only screen and (min-width: 1025px) {
    .hero {
        background: linear-gradient(to right, black 50%, white 50%);
        display: flex;
        justify-content: center;
        height: 100vh;
    }

    .hero picture .image {
        /*height: 50rem; */
        height: 100vh;
        min-height: 100%;
        width: 33.75rem;
    }
    
    .hero .container {
        position: absolute;
        margin: 15%;
        padding: 0 11.5%;
        display: flex;
        justify-content: space-between;
    }

    .hero h1 {
        font-size: 4.375;
        margin-top: 0;
        font-size: 6rem;
        mix-blend-mode: difference;
        color: white;
    }

    .hero .content {
        margin: 0;
        margin: 0 5% 0 0;
    }

    .hero .content p {
        margin: 0 0 15% 0;
        padding: 0;
        z-index: 999;
        font-size: 1.375;
        max-width: 18rem;
    } 

    .grid .container {
        padding: 0 11%;
    }

    footer {
        padding: 8% 11%;
    }
}